# Ignore everything by default.
*

# Include the following directories.
!assets
!assets/**
!src
!src/**
!userData

# Include the following files.
!.gitignore
!.prettierrc.js
!Makefile
!package.json
!readme.md
!tsconfig.json
!userData/.gitkeep
!webpack.main.config.js
!webpack.plugins.js
!webpack.renderer.config.js
!webpack.rules.js
!yarn.lock
