# Ignore everything by default.
*

# Include the following directories.
!src
!src/**

# Include the following files.
!.eslintrc.json
!.gitignore
!.prettierrc.js
!package.json
!readme.md
!tsconfig.json
!webpack.main.config.js
!webpack.plugins.js
!webpack.renderer.config.js
!webpack.rules.js
!yarn.lock
